
.peel {
  position: relative;
  opacity: 0;
}

.peel-ready {
  opacity: 1;
}

.peel-svg-clip-element {
  position: absolute;
  top: -10000px;
  left: -10000px;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.peel-layer {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  transform-origin: top left;
}

/*------------] Some Defaults [------------*/

.peel-top {
  /* background-color: #81afcb; */
}

.peel-back {
  background-color: #f8f9fa;
}

.peel-bottom {
  /* background-color: #d4d9dc; */
}


/* ct test */
body {
  margin: 0;
}

h1 {
  margin: 0;
  padding: 1rem;
}

.container {
  background: linear-gradient(#e66465, #9198e5);
  height: 1500px;
}

#sticker-back {
  position: absolute;
  width: 175px;
  height: 245px;
  top: 120px;
  left: 200px;
  background-color: white;
}

#original-sticker {
  top: 120px;
  left: 200px;
}

.peel {
  position: absolute;
  width: 175px;
  height: 245px;
}

.hidden {
  display: none;
}

#draggable-sticker {
  width: 175px;
  height: 245px;
  position: absolute;
  /* top: 120px;
  left: 200px; */
  background-color: white;
  /* width: 100%;
  height: 100%; */
  z-index: 4;
  /* background-image: url('adambomb.jpg'); */
}

.draggable-corner {
  border-radius: 50%;  
  /* background: rgba(3, 169, 244, 0.3);
  border: 1px solid rgba(3, 169, 244, 0.6);  
  transition: background 0.1s ease-out;   */
  width: 50px;
  height: 50px;
  position: absolute;
}

/* .draggable-corner:hover {
  background: rgba(3, 169, 244, 0.6);
} */

.draggable-corner:nth-child(1) {
  top: 0;
  left: 0;
  transform: translate(-40%, -40%);
}

.draggable-corner:nth-child(2) {
  top: 0;
  right: 0;
  transform: translate(40%, -40%);
}

.draggable-corner:nth-child(3) {
  bottom: 0;
  right: 0;
  transform: translate(40%, 40%);
}

.draggable-corner:nth-child(4) {
  bottom: 0;
  left: 0;
  transform: translate(-40%, 40%);
}

.peeled .peel-back {
  background: transparent;
}